* {
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", sans-serif;
  font-size: 17px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'menu'
    'main'
    'facts'
    'footer';
  background-color: white;
  gap: 10px;
}

.header {
  grid-area: header;
  background-color: purple;
  text-align: center;
  color: #ffffff;
}

.header > h1 {
  font-size: 40px;
}

.menu {
  grid-area: menu;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
}

.menu li:hover {
  background-color: #0099cc;
}

.menu li a,
.menu li a:visited {
  color: inherit;
  text-decoration: none;
  display: block;
}

.menu li a:hover {
  color: inherit;
  text-decoration: none;
}

.content {
  grid-area: main;
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  padding: 10px; 
}

.flex-item {
  flex: 0 0 32%; 
  margin-bottom: 15px; 
  border: 3px solid #b3e0ff; 
  border-radius: 5px;
  padding: 20px;
  background-color: #ffffff; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  box-sizing: border-box; 
  text-align: center;
  min-height: 250px; 
}

.flex-item h1 {
  font-size: 1.2em;
  color: #4a4a4a;
  border-bottom: 2px solid #b3e0ff;
  padding-bottom: 5px;
  margin-top: 0;
}

.flex-item img {
    max-width: 100%;
    height: auto;
    border-radius: 50%; 
}

.facts {
  grid-area: facts;
  border: 1px solid #0099cc;
  background-color: beige;
  padding: 10px;
}

.facts > h2 {
  font-size: 20px;
}

.facts li {
  margin-bottom: 5px;
}

.footer {
  grid-area: footer;
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
}


@media (max-width: 599px) {
  .flex-item {
    flex: 0 0 100%; 
  }
}

@media (min-width: 600px) {
  .header {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 1;}
  .content {grid-area: 2 / span 4;}
  .facts {grid-area: 3 / span 6;}
  .footer {grid-area: 4 / span 6;}

  .flex-item {
    flex: 0 0 48%; 
  }
}

@media (min-width: 768px) {
  .header {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 1;}
  .content {grid-area: 2 / span 4;}
  .facts {grid-area: 2 / span 1;}
  .footer {grid-area: 3 / span 6;}


  .flex-item {
    flex: 0 0 32%; 
  }
}