<template>
  <div class="container">
    <header> <h1>Personal Profile Web page </h1> </header>
    <main>
      <section class="main-content">
        <div>1 About Me</div>
        <div>2 Education</div>
        <div>3 Course </div>
        <div>5 Hobbies & Interests</div>
        <div>7 Picture Gallery</div>
      </section>
      <aside class="sidebar">
      </aside>
    </main>
    <footer> Asia Pacific College   </footer>
  </div>
</template>

<script></script>
<style src="./css/personalprofile.css"></style>
